body {
    font-family: sans-serif;
    margin-top: 80px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.contain{
    max-width: 800px;
    color: blue;
    padding-right: 200;
    padding-left: 200;
    }
