body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.contain{
     max-width: 800px;
    margin: 0px auto;
    /* border-spacing: 156px; */
    color: blue;
    padding-top: 84px;
    padding-right: 200;
    padding-left: 200
    
}
